{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrahead %}
    {{ block.super }}
    <style>
        .custom-buttons {
            display: flex;
            gap: 10px; 
        }
        .custom-buttons .changelink {
            padding: 10px 15px;
            background-color: white; 
            border: 1px solid #0056b3;
            border-radius: 4px;
            text-decoration: none;
            color: #007bff;
            font-size: 18px;
            font-weight: bold;
            transition: background-color 0.3s ease;
        }
        .custom-buttons .changelink:hover {
            background-color: #0056b3; 
        }
    </style>
{% endblock %}

{% block sidebar %}
    {{ block.super }}
    <div class="module">
        <div class="custom-buttons">
            <a href="{% url 'home' %}" class="changelink">{% trans "Back home of website" %}</a>
            <a href="{% url 'feedbackAdmin' %}" class="changelink">{% trans "Feedback" %}</a>
            <a href="{% url 'statistics' %}" class="changelink">{% trans "Statistics" %}</a>
            <a href="{% url 'scheduleDriver' %}" class="changelink">{% trans "Schedule Driver" %}</a>
        </div>
    </div>
{% endblock %}
