{% extends "app/base.html" %} 
{% load static %}

        {% block register %}
          <section class="vh-50" style="background-color: #eee;">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-lg-12 col-xl-11">
                        <div class="card text-black" style="border-radius: 25px;">
                            <div class="card-body p-md-5">
                                <div class="row justify-content-center">
                                    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Register</p>
        
                                        <form class="mx-1 mx-md-4" method="POST" action="">
                                            {% csrf_token %}
        
                                            <div class="row mb-3">
                                                <div class="col-sm-4 d-flex align-items-center">
                                                    <i class="fas fa-user fa-lg me-2 fa-fw"></i>
                                                    <label for="id_username" class="col-form-label">User Name</label>
                                                </div>
                                                <div class="col-sm-8">
                                                    {{ form.username }}
                                                    <div class="text-danger">{{ form.username.errors }}</div>
                                                </div>
                                            </div>
        
                                            <div class="row mb-3">
                                                <div class="col-sm-4 d-flex align-items-center">
                                                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                                    <label for="id_email" class="col-form-label">Email</label> <!-- Cập nhật ID -->
                                                </div>
                                                <div class="col-sm-8">
                                                    {{ form.email }}
                                                    <div class="text-danger">{{ form.email.errors }}</div>
                                                </div>
                                            </div>
        
                                            <div class="row mb-3">
                                                <div class="col-sm-4 d-flex align-items-center">
                                                    <i class="bi bi-telephone-fill fa-lg me-2 fa-fw"></i>
                                                    <label for="id_phone_Number" class="col-form-label">Phone Number</label> <!-- Cập nhật ID -->
                                                </div>
                                                <div class="col-sm-8">
                                                    {{ form.phone_Number }}
                                                    <div class="text-danger">{{ form.phone_Number.errors }}</div>
                                                </div>
                                            </div>
        
                                            <div class="row mb-3">
                                                <div class="col-sm-4 d-flex align-items-center">
                                                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                                    <label for="id_first_name" class="col-form-label">First Name</label> <!-- Cập nhật ID -->
                                                </div>
                                                <div class="col-sm-8">
                                                    {{ form.first_name }}
                                                    <div class="text-danger">{{ form.first_name.errors }}</div>
                                                </div>
                                            </div>
        
                                            <div class="row mb-3">
                                                <div class="col-sm-4 d-flex align-items-center">
                                                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                                    <label for="id_last_name" class="col-form-label">Last Name</label> <!-- Cập nhật ID -->
                                                </div>
                                                <div class="col-sm-8">
                                                    {{ form.last_name }}
                                                    <div class="text-danger">{{ form.last_name.errors }}</div>
                                                </div>
                                            </div>
        
                                            <div class="row mb-3">
                                                <div class="col-sm-4 d-flex align-items-center">
                                                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                                    <label for="id_password1" class="col-form-label">Password</label> <!-- Cập nhật ID -->
                                                </div>
                                                <div class="col-sm-8">
                                                    {{ form.password1 }}
                                                    <div class="text-danger">{{ form.password1.errors }}</div>
                                                </div>
                                            </div>
        
                                            <div class="row mb-3">
                                                <div class="col-sm-4 d-flex align-items-center">
                                                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                                    <label for="id_password2" class="col-form-label">Confirm Password</label> <!-- Cập nhật ID -->
                                                </div>
                                                <div class="col-sm-8">
                                                    {{ form.password2 }}
                                                    <div class="text-danger">{{ form.password2.errors }}</div>
                                                </div>
                                            </div>
        
                                            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                                <button type="submit" class="btn btn-primary btn-lg">Register</button>
                                            </div>
        
                                            <p class="text-center h6 fw-bold mb-5 mx-1 mx-md-4 mt-4">
                                                Already have an account? <a href="{% url 'login' %}">Login</a>
                                            </p>
                                        </form>
                                    </div>
        
                                    <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                                             class="img-fluid" alt="Sample image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        
          {% endblock register %}

  